 /* body *{
    border-width: 1px;
    border-color: red;
    border-style: solid;      
 } */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

 .header-section{
  background-image: url('../assets/Hero-bg.png');
   width: 100%;
   height: 480px;
   /* background-color: aquamarine; */
 }
 .nav-bar{
   display: flex;
   width: 1640px;
   height: 115px;
   margin: 0 auto;
   align-items: center;
   justify-content: space-between;
 }
 .logo-image{
   width: 110px;
   height: 110px;
 }
.button-primary{
    background-color: #4E47FF;
    color:#FFFFFF;
    font-weight: bold;
    padding: 5px 16px ;
    border-radius: 5px;
    font-size: 20px; 
}
.button-primary:hover{
  background-color: #FFB805;
}

.title-container{
  width: 905px;
  height: 260px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}
.header-title{
  font-size: 45px;
  font-weight: bold;
}
.action-section{
  display: flex;
  width: 1140px;
  height: 328px;
  margin: 0 auto;
  justify-content:space-between ;
  align-items: center;
  margin-top: 80px;
}
.action-paragraph{
  width: 507px;
  height: 203px;
}
.action-heading{
  font-size: 42px;
  font-weight: bold;
}
.action-description{
  font-size: 18px;
  color: #252432;
}
.section-image{
  width: 403px;
  height: 328px;
  border-radius: 20px;
}
.productive-user-section{
   width: 1140px;
   height: 410px;
   margin: 0 auto;
   margin-top: 100px;
   background-color:#4E47FF24 ;
  
}
.pro-sec-paragraph{
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  padding-top: 40px;
}
.pro-sec-list{
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  padding-left: 15px;

}
.review-list{
  width: 349px;
  height: 235px;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 5px;
  background-color: #FFFFFF;
}
.star-icon{
  width: 16.67px;
  height: 15.85px;
  color: #FFB805;
}
.img-with-review{
  display: flex;
  align-items: center;
}
.profile-image{
  width: 40px;
  height: 40px;
}
/* .review-title{
  width: 249px;
  height: 56px;
} */
 .date{
  color: #757575;
 }
 .touch-section{
  background-color: #FFFFFF;
  width: 1140px;
  height: 632px;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
.touch-section-paragraph{
  width: 528px;
  height: 232px;
  align-items: center;
}
.touch-para{
  font-size: 97px;
  font-weight: bold;
  padding-bottom: 10px;
}
.touch-form{
  width: 497px;
  height: 490px;
}
.form-section{
  padding-top: 40px;
}
.label-section{
  font-size: 18px;
  font-weight: 600;
}
.input-section{
  width: 490px;
  height: 55px;
}
.input-m-sec{
  width: 490px;
  height: 110px;
}
.touch-button{
  width: 490px;
  height:55px ;
}
.footer-section{
  width: 100%;
  height: 428px;
  /* background-color: #FFB805; */
  background-color: #FFFFFF;
}
.footer-content{
  width: 531px;
  height: 231px;
  margin:0 auto;
  margin-top: 95px;
  text-align: center;

}
.footer-logo{
  width: 110px;
  height: 110px;
}
.footer-paragraph{
  color: #8987A1;
}
.footer-item{
  width: 531px;
  height: 24px;
}
.items{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.another-productive{
  width: 1140px;
  height: 287px;
  margin: 0 auto;
  margin-top: 70px;
  background-color: #4E47FF24;
}
.another-productive-paragraph{
  font-size: 38px;
  font-weight:bold;
  text-align: center;
  padding-top: 15px;
}
.ul-review{
  display: flex;
  font-size: 60px;
  font-weight: bold;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}
/* .ul-users{
  display: flex;
  font-size:20px;
  list-style-type: none;
  justify-content: space-around;
} */
 span{
  font-size:20px ;
  color: #00000050;
 }